
body {
  font-family: 'Newsreader', serif;
  font-size: .8rem;
  line-height: 1.5;
  margin: 0;
  padding: 0;
  
}

.page-wrapper {
  margin: 2rem; /* global outer margin */
  display: flex;
  flex-direction: column;
}

.text{
    margin-right:3rem;
}

.text .nav {
  display: flex;
  justify-content:flex-start;
}

.text .nav a {
  text-decoration: underline;
  color: inherit;
}

 a {
  text-decoration: underline;
  color: inherit;
}

.case-study {
  display: grid;
  grid-template-columns: 3fr 6fr;
  gap: 1rem;
  align-items: start;
}

.images {
  display: flex;
  flex-direction: column;
  gap: 10px; /* space between images */
}

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.image-grid img {
  width: 32vw;
  height: 32vw;
  border-radius: 15px;
  object-fit: cover;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s ease-out, transform 1s ease-in-out;
}

.images img {
  max-width: 100%;
  max-height: 85vh;
  width: auto;
  height: auto;
  border-radius: 15px;
  object-fit: cover;
  display: block;
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.7s ease-out, transform 1s ease-in-out;
}

.main-image.loaded,
.images img.loaded {
  opacity: 1;
  transform: translateY(0);
}


.text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom:25px;
}

.text h1 {
  margin: 0;
  font-size: 1rem;
}

.text em {
  font-style: italic;
  display: block;
  margin-bottom: 0.5rem;
}

@media (max-width: 768px) {

  .page-wrapper {
  margin: 1rem; /* or try 0.75rem or even 5vw */
}

  .case-study {
    grid-template-columns: 1fr;
  }

  .text {
    margin-right: 0;
  }

  .images img {
    width: 100%;
    height: auto;
  }

  .text .nav {
    justify-content: flex-start;
  }
}
